.navbar{
    
    background-color: black;
    color: white;
}
.navbar .nav-link {
    color: white !important; /* Change the navbar link text color */
  }

.navbar .navbar-brand{
    color: white;
}
.navbar .btn{
    color: aliceblue;
    border-color: white;
}

.navbar .btn:hover{
    background-color: gray;
}


img{
	max-width: 100%;
}
.gallery{
	background-color: #dbddf1;
	padding: 80px 0;
    
}
/* .gallery img{
	background-color: #ffffff;
	padding: 15px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
} */

.gallery img{
    cursor: pointer;
}

#gallery-modal .modal-img{
	width: 95%;
    
}

.btn-donwload{
    border-radius: 7px;
    padding: 10px;
    border-color: green;
    box-shadow: 10px;
    background-color: green;
    color: white;

}
.btn-donwload:hover{
    background-color: white;
    color: black;
    border-radius: 10px;

}